.button{
    -fx-background-color:darkseagreen;
    -fx-background-size: cover;
}

#btnAxe:focused {
    -fx-background-color:seagreen;
}

#btnBoat:focused {
    -fx-background-color:seagreen;
}

#btnReset:pressed {
    -fx-background-color:seagreen;
}

#btnUndo:pressed {
    -fx-background-color:seagreen;
}

#btnInfo:pressed {
    -fx-background-color:seagreen;
}